*{
    margin: 0;
    box-sizing: border-box;
}
#navbar {
    display: flex;
    height: 200px;
    align-items: center;
    background: black;
}

a {
    text-decoration: none;
    color: white;
}

#logo > img {
    height: 200px;
}

#menu {
    padding-right: 30px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: xx-large;

    width: 70%;
    color: white;
    text-align: right;
    justify-content: center;
}