* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    color: white;
    background: black;
    height: 70px;
    width: 100%;

    align-items: center;
}

.logo {
    width: 30%;
    padding-left: 10px;
    font-size: 40px;
}
.menu {
    width: 70%;

    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
body {
    height: 100%;
    width: 100%;

}
.error {
    width: 100%;
    display: flex;
    color: red;
    font-weight: bold;
    justify-content: center;

}

body div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#register {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

body > article {
    padding-left: 15%;
    padding-right: 15%;
    font-size: larger;
    text-align: center;
    align-self: center;
}

img {
    display: block;
    width: 30%;
    height: 30%;
}

table td {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center; /* Horizontal */
    align-items: center;     /* Vertikal */
    height: 80%;
}

table td img {
    padding-top: 10%;
    height: 100%;
    width: 100%;
}

#tabelle > table > tbody > tr {
    text-align: center;
    font-weight: bold;
}

.frage {
    justify-content: center;
    align-items: center;
}

/*#tabelle > table > tbody > tr > a {*/
/*    text-decoration: none;*/
/*}*/