* {
    box-sizing: border-box;
    margin: 0 10px;
}

#kontaktverwaltung hr {
    border: 1px solid black;
}
#formular {
    margin-left: 0;
}

#kontaktverwaltung {
    margin: 10px 0;
    display: flex;
}

#kontaktverwaltung input {
    margin: 5px 0;
}

#kontaktverwaltung button {
    margin-top: 10px;
    margin-right: 4px;
}

.fehler {
    color: red;
}

#ContactList div:hover {
    background: salmon;
    cursor: pointer;
}