body {
    font-family: Arial, sans-serif;
    margin: 40px;
}
.frage-block {
    margin-bottom: 30px;
}
.richtig {
    color: green;
    font-weight: bold;
}
.falsch {
    color: red;
    font-weight: bold;
}