* {
    margin: 0;
    box-sizing: border-box;
}

header  {
    color: white;
    background-color: black;
    height: 7vh;
}

h1 {
    padding-left: 10px;
    padding-right: 5px;
}
main {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main input {
    width: 200px;
    height: 35px;
}